<body>
    <div class="containerCentral">
<div class="containerMenu">
    <a routerLink="/cadastroNota"><button class="botaoMenuCriar">Criar NF-e</button></a>
    <br>
    <a routerLink="/notasFiscais"><button class="botaoMenuVerNf" >Ver Notas cadastradas</button></a>
    <br>
    <a routerLink="/clientes"><button class="botaoMenuClientes">Clientes</button></a>
    <br>
    <a routerLink="/usuariosDados"><button class="botaoMenuDados">Meus dados</button></a>
    <br>
    
</div>

    </div>
</body>
