<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navb ar-brand" style="color:white;">PetShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><!-- button add Pet -->
             <a class="nav-link" (click)="onOpenModal(null, 'add')">Add User<span class="sr-only">(current)</span></a>
          </li>
       </ul>
       <!-- <form class="form-inline my-2 my-lg-0">
         <input type="search" (ngModelChange)="searchPets(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search pets..." required>
       </form> -->
    </div>
</nav>

<!-- Container Users -->
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let user of users" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{user.nomeRazaoSocial}}</h5>
                        <p class="m-0">{{user.sobrenome}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email: <a href="#">{{user.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone: {{user.cep}}</li>
                    <li class="list-group-item"><i></i>Specie: {{user.estado}}</li>
                    <li class="list-group-item"><i></i>Race: {{user.cnpjCpf}}</li>
                    <li class="list-group-item"><i></i>Coat Type: {{user.inscricaoEstadual}}</li>
                    <li class="list-group-item"><i></i>Weight: {{user.logradouro}}</li>
                    <li class="list-group-item"><i></i>Height: {{user.tipoPessoa}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(user, 'update')" href="#" class="btn btn-primary tooltips" data-placement="top" 
                        data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(user, 'delete')" href="#" class="btn btn-secondary tooltips" data-placement="top" 
                        data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

 <!-- Add Pet Modal  -->
<div class="modal fade" id="addPetModal" tabindex="-1" role="dialog" aria-labelledby="addPetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addPetModalLabel">Add Pet</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
            <div class="form-group">
               <label for="name">Nome Razao Social</label>
               <input type="text" ngModel name="nomeRazaoSocial" class="form-control" id="nomeRazaoSocial" placeholder="nome Razao Social" required>
            </div>
            <div class="form-group">
               <label for="email">Email</label>
               <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
               <label for="phone">sobrenome</label>
               <input type="text" ngModel name="sobrenome" class="form-control" id="sobrenome" placeholder="sobrenome" required>
            </div>
            <div class="form-group">
                <label for="phone">cep</label>
                <input type="text" ngModel name="cep" class="form-control" id="cep" placeholder="cep" required>
             </div>            
             <div class="form-group">
                <label for="phone">estado</label>
                <input type="text" ngModel name="estado" class="form-control" id="estado" placeholder="estado" required>
             </div>
             <div class="form-group">
                <label for="phone">cnpj/Cpf</label>
                <input type="text" ngModel name="cnpjCpf" class="form-control" id="cnpjCpf" placeholder="cnpj/Cpf" required>
             </div>
             <div class="form-group">
                <label for="phone">inscricaoEstadual</label>
                <input type="text" ngModel name="inscricaoEstadual" class="form-control" id="inscricaoEstadual" placeholder="inscricaoEstadual" required>
             </div>
             <div class="form-group">
                <label for="phone">logradouro</label>
                <input type="text" ngModel name="logradouro" class="form-control" id="logradouro" placeholder="logradouro" required>
             </div>
             <div class="form-group">
                <label for="phone">tipoPessoa</label>
                <input type="text" ngModel name="tipoPessoa" class="form-control" id="tipoPessoa" placeholder="tipoPessoa" required>
             </div>
            <div class="modal-footer">
               <button type="button" id="add-pet-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
</div>

<!--  Edit Modal -->
<!-- <div class="modal fade" id="updatePetModal" tabindex="-1" role="dialog" aria-labelledby="petEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updatePetModalLabel">Edit Pet {{editPet?.name}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text" ngModel="{{editPet?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                </div>
                <input type="hidden" ngModel="{{editPet?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                <input type="hidden" ngModel="{{editPet?.petCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email">
                    <div class="form-group">
                        <label for="email">Email Owner</label>
                        <input type="email" ngModel="{{editPet?.emailOwner}}" name="emailOwner" class="form-control" id="emailOwner" placeholder="Email" required>
                     </div>
                     <div class="form-group">
                        <label for="phone">Phone Owner</label>
                        <input type="text" ngModel="{{editPet?.numberOwner}}" name="numberOwner" class="form-control" id="numberOwner" placeholder="Phone" required>
                     </div>
                     <div class="form-group">
                         <label for="phone">Name Owner</label>
                         <input type="text" ngModel="{{editPet?.nameOwner}}" name="nameOwner" class="form-control" id="nameOwner" placeholder="Name Owner" required>
                      </div>            
                      <div class="form-group">
                         <label for="phone">Specie</label>
                         <input type="text" ngModel="{{editPet?.specie}}" name="specie" class="form-control" id="specie" placeholder="Specie" required>
                      </div>
                      <div class="form-group">
                         <label for="phone">Race</label>
                         <input type="text" ngModel="{{editPet?.race}}" name="race" class="form-control" id="race" placeholder="Race" required>
                      </div>
                      <div class="form-group">
                         <label for="phone">Height</label>
                         <input type="text" ngModel="{{editPet?.height}}" name="height" class="form-control" id="height" placeholder="Height" required>
                      </div>
                      <div class="form-group">
                         <label for="phone">Weight</label>
                         <input type="text" ngModel="{{editPet?.weight}}" name="weight" class="form-control" id="weight" placeholder="Weight" required>
                      </div>
                      <div class="form-group">
                         <label for="phone">Coat Type</label>
                         <input type="text" ngModel="{{editPet?.coatType}}" name="coatType" class="form-control" id="coatType" placeholder="Coat" required>
                      </div>
                      <div class="form-group">
                         <label for="phone">Treatment</label>
                         <select name="treatment" id="treatment" class="form-control" data-toggle="modal" required> 
                           <option value="Tosa">Tosa</option>
                           <option value="Banho">Banho</option>
                         </select>
                         <input type="text" ngModel="{{editPet?.treatment}}" name="treatment" class="form-control" id="treatment" placeholder="Treatment" required>
                      </div>
                      <div class="form-group">
                        <label for="phone">Image URL</label>
                        <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
                     </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdatePet(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div> -->


<!-- 
  //Delete Modal  -->
<div class="modal fade" id="deletePetModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Pet</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete pet {{deleteUser?.nomeRazaoSocial}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteUser(deleteUser?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div> 

  <div class="valores">
   
  </div>


<div *nfIf="pets?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO PETS!</h4>
      <p>No Pets were found.</p>
    </div>
</div>