body {
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 30%, #582e0d 100%);
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.containerCentralEmissao {
    background-color: rgb(10, 10, 10);
    width: 212vh;
    height: 570px;
    position: absolute;
    top: 5%;
    /* posiciona na metade da tela */
    margin-top: -25px;
    /* e retrocede metade da altura */

    /* posiciona na metade da tela */
    /* e retrocede metade da largura */
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 252, 252);
}

.containerEmissao {
    position: relative;
    top: 40px;
    left: 7px;
    height: 340px;
    border-top-style: dashed;

}

input {
    position: relative;
    height: 30px;
    width: 230px;
    top: 10px;
    left: 30px;
    border-radius: 1px;
    color: white;
    border-color: white;
    background-color: #444343;
    margin-bottom: 5px;
}

input::placeholder,textarea::placeholder{
    color: rgb(182, 182, 182);
}

label {
    color: white;
}

.containerPrestador {
    position: relative;
    background-color: #b1b1b1b6;
    border-radius: 2px;
    width: 520px;
    height: 80px;
    left: 5%;
}

.containerTomador {
    position: relative;
    background-color: #b1b1b1b6;
    height: 80px;
    width: 780px;
    left: 39.2%;
    top: -24%;
}
select{
    position: relative;
    height: 35px;
    width: 238px;
    top: 10px;
    left: 30px;
    border-radius: 2px;
    color: rgb(182,182,182);
    border-color: white;
    background-color: #444343;
    margin-bottom: 5px;
    margin-right: 5px;
    
}
.itensNF{
 position: relative; 
 width: 1310px;  
 border-radius: 2px;
 background-color:#b1b1b1b6;
 height: 150px;
 top:-70px;  
 left: 5%;
}
.descricaoItemNF{
    position: relative;
    height: 60px;
    width: 960px;
    top: -30px;
    left: 275px;
    border-radius: 1px;
    color: white;
    border-color: white;
    background-color: #444343;
    margin-bottom: 5px;
}
.descricaoProduto{
    position: relative;
    height: 60px;
    width: 950px;
    top:10px;
    border-radius: 1px;
    color: white;
    border-color: white;
    background-color: #444343;
    margin-bottom: 5px;
    left: 30px;
}
.produtosNF{
    position: relative;
    width: 1310px;
    background-color: #b1b1b1b6;
    height: 110px;
    top: -60px;
    left:5%;
}
.valorProduto{
    position: relative;
    top:-38px;
    left: 40px;
}
.tomadorCNPJCPF{
    width: 130px;
}
.selectTipoTomador{
    width: 120px;
}
.razaoSocial{
    width: 405px;
}
.divBotaoEnviaNF{
    position: absolute;
    top: 450px;
    left: 50%;
}
button {
    top: 88%;
    position: relative;
    width: 130px;
    height: 35px;
    color: white;
    border-radius: 5px;
    background-color: rgb(163, 113, 55);
    bottom: 1px;
    left: 28%;
}


.voltar{
    position: absolute;
    top: 450px;
    left: 30%;
}